<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/product.css">
</head>
<body>
    <h1>Welcone to Admin Page!!!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi iusto optio hic. Qui, molestiae possimus? Soluta fugiat autem expedita cum nemo quam iusto nihil. Dolor quibusdam in sunt cupiditate. Tempore?</p>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quod sunt adipisci perferendis repudiandae cumque, labore, libero ipsa beatae eligendi nam sed, reprehenderit porro dolores nisi ullam nihil delectus eius.</p>

</body>
</html>